<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANf_oj3xrcTum8N3xQhY-WjDx2a1NVJKg</string>
	<key>GCM_SENDER_ID</key>
	<string>818320655266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amuze</string>
	<key>PROJECT_ID</key>
	<string>amuze-a2601</string>
	<key>STORAGE_BUCKET</key>
	<string>amuze-a2601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818320655266:ios:2cd432caf0dd587cb328fb</string>
</dict>
</plist>